Source: avrdude-arduino
Section: main
XBSC-Family: avr
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: avrdude-arduino
Section: main
Architecture: all
XBSC-Group: Programmers
XBSC-SubGroup: AVR
Description: Avrdude for STK500 (Arduino) boards
 This is the default programmer for Arduino boards using the standard STK500V2 bootloader.



